.centrar-form{
    padding-top: 120px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 280px;
    padding-right: 280px;
}

.centrar{
    display:flex;
    justify-content: center;
    align-items: center;
}

.centrar2{
    border: 1px solid #333;
    width: 100;
}

.centrar-celda{
    text-align: center;
}

.margin-lr{
    padding-left: 100px;
    padding-right: 100px;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
}

.btn-right{
    margin-left: 780px;
}